  body {
    background: black;
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .portfolio {
    text-align: center;
    position: absolute;
    left: 50%;               /* start from center horizontally */
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 25px;
    color: white;
    font-family: "Merriweather", sans-serif;

    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
  }

  .ascii-art {
    font-family: "Courier New", monospace;
    color: white;
    background: black;
    font-size: 6px;
    line-height: 1; 
    white-space: pre; 
    position: absolute;
    text-align: center;
    left: 25%;               /* start from center horizontally */
    bottom: 10%;
}


  .container {
    opacity: 0;
    animation: fadeIn 5s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  pre {
    line-height: 80%;
    font-size: 12px;
  }