body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.tile {
    flex: 1;
    width: 100%;
    height: 500px;
    text-decoration: none;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    border-radius: 20px;
    border: 2px solid #ff6347;
    padding: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tile:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(255, 99, 71, 0.4);
}

.tile-title {
    font-weight: bold;
    font-size: 4rem;
    color: transparent;
    -webkit-text-stroke: 3px #ff6347;
}

.tile:hover .tile-title {
    color: #ff6347;
    -webkit-text-stroke: 0px;
    text-shadow: 0px 0px 10px rgba(255, 99, 71, 0.8);
    transform: scale(1.1);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.tile-text {
    color: rgba(255,255,255,0.6);
    font-size: 1.2rem;
    max-width: 40%;
    padding-top: 10px;
}

.tile:hover .tile-text {
    -webkit-text-stroke: 0px;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    transform: scale(1.1);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.tile-tech {
    color: rgba(255,255,255,0.6);
    font-family: "Courier New";
    font-size: 1rem;
    max-width: 20%;
    padding-top: 40px;
}

.tile:hover .tile-tech {
    -webkit-text-stroke: 0px;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.6);
    transform: scale(1.1);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.tile-image-box {
    position:relative;
    transform: translateY(-80%);
    left: 570px;
    width: 600px;
    border-radius: 10px;
}

.tile-image-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


a {
    text-decoration: none;
}

.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.welcome-screen.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
}